* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

main {
  justify-content: center;
  width: 1200px;
  color: white;
  border-radius: 10px;
  border-style: solid;
  background-color: rgb(45, 7, 77);
  margin-block: 50px;
  margin-inline: 50px;
}
h1 {
  margin-bottom: 25px;
}

img {
  float: right;
  width: 600px;
  height: 460px;
}

.text {
  color: purple;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 60px;
  margin-left: 90px;
}

.final {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 80px;
  margin-left: 5px;
}

span {
  font-size: xx-large;
}
